.calendar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 750px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--color-gray-primary);

  &__header-wrapper {
    margin-bottom: 10px;
  }

  &__body-wrapper {
  }
}

